# Reverse-engineering of the surron ultrabee can bus

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import csv
import json

---
## Reading data from Files

In [26]:
filesToRead = ["20240427_CAN_Trace_Motorrad_T000.asc", "20240427_CAN_Trace_Motorrad_T001.asc"]

dataPointsAsc = []
for fileName in filesToRead:
    with open(fileName) as f:
        content = f.readlines()
        for line in content:
            dataPointsAsc.append({
                "lineId": len(dataPointsAsc),
                "Id": line[101:len(line) - 1],
                "dlc": line[38:39],
                "msg": line[40:64],
                "time": line[:12],
            })

tmpCleanedArray = []
for e in dataPointsAsc:
    if (e["Id"] != '') & (e["Id"] != ' ') & (e["dlc"] != '') & (e["dlc"] != ' '):
        tmpCleanedArray.append(e)

dataPointsAsc = tmpCleanedArray

for pos in range(len(dataPointsAsc)):
    dataPointsAsc[pos]["lineId"] = pos

messagesPerId = []

# print(set(list(map(lambda row: (row["Id"]), dataPointsAsc))))

for singleId in set(list(map(lambda row: (row["Id"]), dataPointsAsc))):
    var = list(map(lambda row: (row["msg"]), filter(lambda single: single["Id"] == singleId, dataPointsAsc)))
    messagesPerId.append({
        "Id": singleId,
        "cnt": len(var),
        "msg": var
    })

df = pd.DataFrame(messagesPerId)
df

            Id   cnt                                                msg
0          785  1327  [02 00 00 00 29 00 CB 02 , 02 00 00 00 28 00 C...
1          786    52  [01 32 30 32 33 30 33 32 , 02 35 30 30 30 31 0...
2          789   667  [05 05 03 03 01 00 03 03 , 05 05 03 03 01 00 0...
3          772   672  [02 54 51 4C 30 30 31 47 , 03 44 35 4E 30 30 3...
4          690     1                         [00 08 02 00 00 00 00 00 ]
5          801     1                         [C1 00 FF FF FF FF FF FF ]
6          274  1328  [00 00 3C 37 00 00 00 00 , 00 00 3C 37 00 00 0...
7          787    27  [44 30 38 41 31 31 30 36 , 44 30 38 41 31 31 3...
8          513   672  [00 00 C8 00 00 00 07 CF , 00 00 C8 00 00 00 0...
9   417333259x   271  [00 00 00 00 00 00 01 00 , 00 00 00 00 00 00 0...
10         275  1329  [01 00 00 00 00 00 00 00 , 01 00 00 00 00 00 0...
11         261  6734  [10 27 00 00 00 00 00 37 , 10 27 00 00 00 00 0...
12         791   268  [50 35 15 32 33 00 00 00 , 50 35 15 32 33 00 0...
13         792   267  [02 00 00 00 00 00 00 00 , 03 00 00 00 00 00 0...
14  417333249x   136  [60 00 2C 04 F3 01 2C 04 , 60 00 2C 04 F3 01 2...
15         773   270  [00 33 01 22 08 02 02 00 , 00 33 01 22 08 02 0...
16         259  6734  [00 00 00 00 00 00 00 00 , 00 00 00 00 00 00 0...
17         545  1307  [00 5A 00 C5 03 00 00 54 , 00 5A 00 C5 03 00 0...
18         518   674  [38 01 37 02 00 00 00 00 , 38 01 37 02 00 00 0...
19  417333248x  6773  [00 07 E7 03 9C 0F C2 0F , 00 07 E7 03 AD 0F C...
20         515   672  [82 C4 4F F1 03 FB E4 3E , 83 B6 8F EC 43 FB 1...
21         517   674  [C6 0F 12 B0 0F 05 00 00 , C6 0F 12 B0 0F 05 0...
22         516   674  [22 FF FF FF FF FF FF FF , E0 38 37 38 38 FF F...
23         774   270  [00 33 01 22 08 03 01 01 , 00 33 01 22 08 03 0...
24         798    26  [D7 2B 14 19 3F 86 7F B2 , D7 2B 14 19 3F 86 7...
25         771   672  [03 03 01 02 00 00 00 00 , 03 03 01 02 00 00 0...
26         260  6734  [B2 20 00 00 00 00 00 D2 , B2 20 00 00 00 00 0...
27         799    27  [00 00 00 00 00 00 00 00 , 00 00 00 00 00 00 0...
28         770   672  [18 04 1C 00 00 16 02 00 , 18 04 1C 00 00 16 0...
29         258  6734  [25 03 00 00 00 00 00 28 , 25 03 00 00 00 00 0...
30          18  1749  [00 00 00 00 02 00 00 02 , 00 00 00 00 02 00 0...
31         514   672  [08 01 00 00 00 00 00 09 , 08 01 00 00 00 00 0...
32  417333504x  6773  [07 20 00 01 01 00 50 01 , 07 20 00 01 01 00 5...
33         788    27  [33 30 30 30 36 41 00 00 , 33 30 30 30 36 41 0...

---
## Plot all DataPoints over time

In [ ]:
for message in messagesPerId:
    for i in range(8):
        searchedId = message["Id"]
        dataByte = i

        plotData = map(lambda row: ({"time": row["time"], "val": int(row["msg"].split()[dataByte], 16)}),
                       list(filter(lambda item: item['Id'] == searchedId, dataPointsAsc)))

        df = pd.DataFrame(plotData).plot("time", "val")
        df.set_title({"Id": searchedId, "dataPos": i})

# df = pd.DataFrame(plotData)
# df