# Reverse-engineering of the surron ultrabee can bus

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import csv
import json

---
## Reading data from Files

In [27]:

with open('20240427_CAN_Trace_Motorrad_T000.csv', 'r') as f:
    reader = csv.reader(f, delimiter=";")
    data00 = list(reader)

with open('20240427_CAN_Trace_Motorrad_T001.csv', 'r') as f:
    reader = csv.reader(f, delimiter=";")
    data01 = list(reader)

data00.pop(0)
data01.pop(0)

dataCombined = data00 + data01

dataCombinedDictCsv = []
for dataPoint in dataCombined:
    dataCombinedDictCsv.append({
        "Id": dataPoint[4],
        "dlc": dataPoint[2],
        "msg": dataPoint[3],
        "time": dataPoint[0],
    })

df = pd.DataFrame(dataCombinedDictCsv)
df

In [84]:
dataCombinedDictAsc = []
with open("20240427_CAN_Trace_Motorrad_T000.asc") as f:
    content = f.readlines()
    for line in content:
        dataCombinedDictAsc.append({
            "lineId": len(dataCombinedDictAsc),
            "Id": line[101:len(line) - 1],
            "dlc": line[38:39],
            "msg": line[40:64],
            "time": line[:12],
        })

with open("20240427_CAN_Trace_Motorrad_T001.asc") as f:
    content = f.readlines()
    for line in content:
        dataCombinedDictAsc.append({
            "lineId": len(dataCombinedDictAsc),
            "Id": line[101:len(line) - 1],
            "dlc": line[38:39],
            "msg": line[40:64],
            "time": line[:12],
        })

tmpCleanedArray = []

for e in dataCombinedDictAsc:
    if (e["Id"] != '') & (e["Id"] != ' ') & (e["dlc"] != '') & (e["dlc"] != ' '):
        tmpCleanedArray.append(e)

dataCombinedDictAsc = tmpCleanedArray

for pos in range(len(dataCombinedDictAsc)):
    dataCombinedDictAsc[pos]["lineId"] = pos

df = pd.DataFrame(dataCombinedDictAsc)
df

       lineId          Id dlc                       msg          time
0           0          18   8  00 00 00 00 02 00 00 02      0.008923
1           1         258   8  25 03 00 00 00 00 00 28      0.017042
2           2         259   8  00 00 00 00 00 00 00 00      0.017292
3           3         260   8  B2 20 00 00 00 00 00 D2      0.017540
4           4         261   8  10 27 00 00 00 00 00 37      0.017788
...       ...         ...  ..                       ...           ...
55881   55881         259   8  FF FF 2C 04 5A 00 00 88     39.316511
55882   55882         260   8  B2 20 00 00 00 00 00 D2     39.316759
55883   55883         261   8  10 27 00 00 00 00 00 37     39.317007
55884   55884  417333248x   8  00 03 E7 03 2A 00 C0 0F     39.317296
55885   55885  417333504x   8  03 20 00 01 01 00 50 01     39.317582

[55886 rows x 5 columns]

---
## Extracting all Ids

In [22]:
messengeIds = list(map(lambda row: (row[4]), data00))
uniqueIds = set(messengeIds)

df = pd.DataFrame(uniqueIds)
df

             0
0          274
1          275
2   417333259x
3          801
4          799
5          260
6   417333249x
7          545
8          792
9          771
10         517
11         787
12  417333248x
13         261
14         785
15         791
16         258
17         515
18         772
19         788
20         773
21         770
22         789
23         786
24         798
25  417333504x
26          18
27         690
28         259
29         518
30         514
31         774
32         513
33         516

---
## Massage CNT per Id

In [23]:
messagesPerId = []
for uniqueId in uniqueIds:
    var = list(map(lambda row: (row[3]), filter(lambda line: line[4] == uniqueId, dataCombined)))
    messagesPerId.append({
        "Id": uniqueId,
        "cnt": len(var),
        "msg": var
    })

df = pd.DataFrame(messagesPerId)
df

            Id   cnt                                                msg
0          274  1328  [00 00 3C 37 00 00 00 00, 00 00 3C 37 00 00 00...
1          275  1329  [01 00 00 00 00 00 00 00, 01 00 00 00 00 00 00...
2   417333259x   271  [00 00 00 00 00 00 01 00, 00 00 00 00 00 00 01...
3          801     1                          [C1 00 FF FF FF FF FF FF]
4          799    27  [00 00 00 00 00 00 00 00, 00 00 00 00 00 00 00...
5          260  6734  [B2 20 00 00 00 00 00 D2, B2 20 00 00 00 00 00...
6   417333249x   136  [60 00 2C 04 F3 01 2C 04, 60 00 2C 04 F3 01 2C...
7          545  1307  [00 5A 00 C5 03 00 00 54, 00 5A 00 C5 03 00 00...
8          792   267  [02 00 00 00 00 00 00 00, 03 00 00 00 00 00 00...
9          771   672  [03 03 01 02 00 00 00 00, 03 03 01 02 00 00 00...
10         517   674  [C6 0F 12 B0 0F 05 00 00, C6 0F 12 B0 0F 05 00...
11         787    27  [44 30 38 41 31 31 30 36, 44 30 38 41 31 31 30...
12  417333248x  6773  [00 07 E7 03 9C 0F C2 0F, 00 07 E7 03 AD 0F C5...
13         261  6734  [10 27 00 00 00 00 00 37, 10 27 00 00 00 00 00...
14         785  1327  [02 00 00 00 29 00 CB 02, 02 00 00 00 28 00 CB...
15         791   268  [50 35 15 32 33 00 00 00, 50 35 15 32 33 00 00...
16         258  6734  [25 03 00 00 00 00 00 28, 25 03 00 00 00 00 00...
17         515   672  [82 C4 4F F1 03 FB E4 3E, 83 B6 8F EC 43 FB 14...
18         772   672  [02 54 51 4C 30 30 31 47, 03 44 35 4E 30 30 30...
19         788    27  [33 30 30 30 36 41 00 00, 33 30 30 30 36 41 00...
20         773   270  [00 33 01 22 08 02 02 00, 00 33 01 22 08 02 02...
21         770   672  [18 04 1C 00 00 16 02 00, 18 04 1C 00 00 16 02...
22         789   667  [05 05 03 03 01 00 03 03, 05 05 03 03 01 00 03...
23         786    52  [01 32 30 32 33 30 33 32, 02 35 30 30 30 31 00...
24         798    26  [D7 2B 14 19 3F 86 7F B2, D7 2B 14 19 3F 86 7F...
25  417333504x  6773  [07 20 00 01 01 00 50 01, 07 20 00 01 01 00 50...
26          18  1749  [00 00 00 00 02 00 00 02, 00 00 00 00 02 00 00...
27         690     1                          [00 08 02 00 00 00 00 00]
28         259  6734  [00 00 00 00 00 00 00 00, 00 00 00 00 00 00 00...
29         518   674  [38 01 37 02 00 00 00 00, 38 01 37 02 00 00 00...
30         514   672  [08 01 00 00 00 00 00 09, 08 01 00 00 00 00 00...
31         774   270  [00 33 01 22 08 03 01 01, 00 33 01 22 08 03 01...
32         513   672  [00 00 C8 00 00 00 07 CF, 00 00 C8 00 00 00 07...
33         516   674  [22 FF FF FF FF FF FF FF, E0 38 37 38 38 FF FF...

---
## Condense to unique messages

In [24]:
uniqueMessagesPerId = []

for message in messagesPerId:
    condensed = []

    for e in message["msg"]:
        if e not in condensed:
            condensed.append(e)

    uniqueMessagesPerId.append({
        "Id": message["Id"],
        "allCnt": message["cnt"],
        "uniqueCnt": len(condensed),
        "condensedMsg": condensed
    })

df = pd.DataFrame(uniqueMessagesPerId)
df

,Id,allCnt,uniqueCnt,condensedMsg
0,274,1328,134,"[00 00 3C 37 00 00 00 00, 00 00 40 32 00 00 00..."
1,275,1329,6,"[01 00 00 00 00 00 00 00, 01 01 00 00 00 00 00..."
2,417333259x,271,1,[00 00 00 00 00 00 01 00]
3,801,1,1,[C1 00 FF FF FF FF FF FF]
4,799,27,2,"[00 00 00 00 00 00 00 00, 00 00 00 00 00 00 00..."
5,260,6734,1,[B2 20 00 00 00 00 00 D2]
6,417333249x,136,3,"[60 00 2C 04 F3 01 2C 04, 5F 00 2C 04 F3 01 2C..."
7,545,1307,5,"[00 5A 00 C5 03 00 00 54, 01 5A 00 C5 03 00 00..."
8,792,267,10,"[02 00 00 00 00 00 00 00, 03 00 00 00 00 00 00..."
9,771,672,1,[03 03 01 02 00 00 00 00]
10,517,674,55,"[C6 0F 12 B0 0F 05 00 00, C4 0F 10 AE 0F 05 00..."
11,787,27,1,[44 30 38 41 31 31 30 36]
12,417333248x,6773,272,"[00 07 E7 03 9C 0F C2 0F, 00 07 E7 03 AD 0F C5..."
13,261,6734,1,[10 27 00 00 00 00 00 37]
14,785,1327,324,"[02 00 00 00 29 00 CB 02, 02 00 00 00 28 00 CB..."
15,791,268,1,[50 35 15 32 33 00 00 00]
16,258,6734,5,"[25 03 00 00 00 00 00 28, 25 03 1C 00 00 00 00..."
17,515,672,123,"[82 C4 4F F1 03 FB E4 3E, 83 B6 8F EC 43 FB 14..."
18,772,672,5,"[02 54 51 4C 30 30 31 47, 03 44 35 4E 30 30 30..."
19,788,27,1,[33 30 30 30 36 41 00 00]
20,773,270,1,[00 33 01 22 08 02 02 00]
21,770,672,136,"[18 04 1C 00 00 16 02 00, 18 04 1C 00 00 16 03..."
22,789,667,2,"[05 05 03 03 01 00 03 03, 05 05 00 03 01 00 03..."
23,786,52,2,"[01 32 30 32 33 30 33 32, 02 35 30 30 30 31 00..."
24,798,26,1,[D7 2B 14 19 3F 86 7F B2]
25,417333504x,6773,6,"[07 20 00 01 01 00 50 01, 00 20 00 00 00 00 50..."
26,18,1749,4,"[00 00 00 00 02 00 00 02, 00 02 00 00 02 00 00..."
27,690,1,1,[00 08 02 00 00 00 00 00]
28,259,6734,35,"[00 00 00 00 00 00 00 00, FE FF 00 00 00 00 00..."
29,518,674,4,"[38 01 37 02 00 00 00 00, 38 03 37 02 00 00 00..."
30,514,672,2,"[08 01 00 00 00 00 00 09, 09 01 00 00 00 00 00..."
31,774,270,1,[00 33 01 22 08 03 01 01]
32,513,672,1,[00 00 C8 00 00 00 07 CF]
33,516,674,10,"[22 FF FF FF FF FF FF FF, E0 38 37 38 38 FF FF..."

---
## Extracting specific ids

In [25]:
data00Filtered = list(filter(lambda row: (row[4] == "417333248x"), data00))

df = pd.DataFrame(data00Filtered)
df

                0   1  2                        3           4
0        0.018079  Rx  8  00 07 E7 03 9C 0F C2 0F  417333248x
1        0.043026  Rx  8  00 07 E7 03 AD 0F C5 0F  417333248x
2        0.058161  Rx  8  00 07 E7 03 C4 0F C5 0F  417333248x
3        0.078231  Rx  8  00 07 E7 03 CE 0F C2 0F  417333248x
4        0.098286  Rx  8  00 07 E7 03 E0 0F C2 0F  417333248x
...           ...  .. ..                      ...         ...
4806  106.479.729  Rx  8  00 03 E7 03 2A 00 C0 0F  417333248x
4807  106.499.987  Rx  8  00 03 E7 03 28 00 C0 0F  417333248x
4808  106.519.796  Rx  8  00 03 E7 03 28 00 C0 0F  417333248x
4809  106.540.856  Rx  8  00 03 E7 03 28 00 C0 0F  417333248x
4810  106.559.916  Rx  8  00 03 E7 03 28 00 C2 0F  417333248x

[4811 rows x 5 columns]

---
## Plot over time

In [26]:
searchedId = "785"
dataByte = 6

# searchedId = "417333248x"
# dataByte = 6

plotData = map(lambda row: ({"time": row["time"], "val": int(row["msg"].split()[dataByte], 16)}),
               list(filter(lambda item: item['Id'] == searchedId, dataCombinedDictCsv)))

# df = pd.DataFrame(plotData).plot.line("time", "val")
df = pd.DataFrame(plotData)
df

            time  val
0       0.081907  203
1       0.195897  203
2       0.309897  203
3       0.423894  203
4       0.538404  203
...          ...  ...
1322  38.867.084  203
1323  38.968.081  203
1324  39.069.085  203
1325  39.170.089  203
1326  39.271.097  203

[1327 rows x 2 columns]